body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Минимальная высота на весь экран */
}

header {
    background-color: #0073e6;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Добавляем отступ снизу, чтобы футер не перекрывал контент */
    flex: 1;  /* Этот элемент растягивается, чтобы занять доступное пространство */
}

footer {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;  /* Убираем sticky */
    width: 100%;
    height: 60px;  /* Высота подвала */
}

h1, h2, h3 {
    color: #0073e6;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin: 5px 0;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

form textarea, form input[type="text"], form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}
